$color-background: #cdd5db;
$color-primary-text: #071739;
$color-heading: #2d3c50;
$color-border: #5c5650;
$color-accent: #e3c39d;
$color-light-gray: #f4f4f4;
$color-hover: #e3c39d;
$color-footer: #071739;

$font-family-main: 'M PLUS 1p', sans-serif;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;
$font-weight-black: 900;
$font-size-base: 16px;

$font-size-h1: 44px;
$font-size-h2: 36px;
$font-size-h3: 30px;
$font-size-h4: 24px;
$font-size-h5: 20px;
$font-size-h6: 18px;