@use './variables' as *;

.about {
  margin: 0 auto;
  font-family: $font-family-main;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  &__title {
    font-size: 36px;
    margin-bottom: 20px;
    text-align: center;
  }

  &__intro {
    font-size: 20px;
    line-height: 1.6;
    color: $color-primary-text;
    margin-bottom: 40px;
    text-align: justify;
  }

  &__content {
    display: flex;
    flex-direction: column;
    font-family: $font-family-main;
    color: $color-primary-text;
    line-height: 1.6;
    font-size: 18px;
  }
  
  &__section {
      border-radius: 8px;

    &__title {
      font-size: 24px;
      font-weight: 600;
      color: $color-primary-text;
      margin-bottom: 10px;
      text-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    }

    &__img {
      width: 200px;
      height: 400px;
    }

    &__text {
      font-size: 20px;
      color: $color-primary-text  ;
      line-height: 1.6;
      text-align: justify;
      // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
  }
}
